<div ng-controller="recipientsCtrl">
	<h4>Create a Recipient</h4>
	<form class="form-auth" ng-Submit="createRecipient(recipient)" name="recipient-details">
	    <label>First Name</label>
	    <input type="text" class="form-control"  ng-model="recipient.firstName" required placeholder="First Name" />
	    <br />
	    <!-- <label>Last Name</label>
	    <input type="text" class="form-control"  ng-model="recipient.lastName" required placeholder="Last Name" />
	    <br />-->
	    <label>Phone Number</label>
	    <input class="form-control" ng-model="recipient.phone" required placeholder="i.e. 555-555-5555"/>
	    <br/>
	    <label>Email</label>
	    <input class="form-control" type="email" required ng-model="recipient.email" placeholder="Email"/>
	    <br/>
	    <label>Roles</label>
	    <div ng-repeat="role in newRoles">
			<div role-input role="role"></div>
		</div>
	    <div class="pointer" ng-click="addRole()"><span class="glyphicon glyphicon-plus"></span> Role</div>
		<tt>{{newRoles}}</tt>
	    <input class="btn btn-primary pull-right" type="submit"  value="Create!" ng-disabled="recipient-details.$invalid" />
	</form>   
</div>