body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.pointer {
	cursor: pointer;
}

.add-recipient-list {
	height: 100px;
	overflow-y: scroll;
	background-color: #fff;
}

.close-box {
	cursor: pointer;
	float: right;
}

input.phone1, input.phone2 {

	display: inline-block;
	width: 55px;

}

input.phone3 {

	display: inline-block;
	width: 61px;

}

input.role {

	margin-bottom: 15px;

}