<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 well">
	<form class="form-auth" ng-submit="forgotPassword()" name="forgot-password">
	  <h2>Forgot Password</h2>
	  <p class="text">What email address did you sign up with?</p>
	  <p class="text" ng-class="{'text-danger': errors===true}">{{response}}</p>
	  <div ng-hide="sent">
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-envelope"></i></span>
	  	    <input type="email" required ng-model="user.email" placeholder="Email" class="form-control" aria-describedby="basic-addon1" />
        </div>
      </div>
      <div class="form-group">
	  	  <input type="submit" value="Submit" class="btn btn-primary" ng-disabled="forgot-password.$invalid" />
      </div>
	  </div>
	</form>
</div>