<div class="row">
  <div ng-show="broadcast_message"class="alert {{broadcast_message_class}}" role="alert">
    <p>{{broadcast_message}}</p>
  </div>

  <div class="col-md-4 col-md-offset-1">

    <h2>Send To</h2>

    <ul class="nav nav-pills nav-stacked">
      <li ng-class="{active: showSingle}">
        <a href="" ng-click="showSingleRecipient()">Send to Individual</a>
      </li>
      <li ng-repeat="list in lists" ng-class="{active: selected.listName == list.listName}">
        <a href="" ng-click="selectList(list)">{{list.listName}}</a>
      </li>
    </ul>

  </div>

  <!-- send to single Recipient -->
  <div class="col-md-4" ng-show="showSingle">
    <h2>Single Broadcast</h2>
    <form ng-Submit="prepareSingleMessage()">
      <label>What is this broadcast called?</label>
      <input required type="text" class="form-control" placeholder="Name your broadcast" ng-model="broadcast.title" />
      <br/>
      <label >Who is this going to?</label>
      <input required type="text" class="form-control" placeholder="Phone number" ng-model="broadcast.phone" />
      <br />
      <label>What's the time frame?</label>
      <input required type="text" class="form-control" placeholder="i.e. 9am - 5pm" ng-model="broadcast.time" />
      <br/>
      <label>When?</label>
      <input required type="text" class="form-control" placeholder="i.e. 11/15/2015" ng-model="broadcast.date" />
      <br/>
      <label>Where?</label>
      <input required type="text" class="form-control" placeholder="i.e. Grace Cathedral, San Francisco" ng-model="broadcast.location" />
      <br/>
      <label>What does it pay?</label>
      <input required type="text" class="form-control" placeholder="i.e. $120" ng-model="broadcast.pay" />
      <br/>
      <label>How many positions need to be filled?</label>
      <input required type="text" class="form-control" placeholder="i.e. 25" ng-model="broadcast.numPositions" />
      <br/>
      <input class="btn submit-btn pull-right" type="submit" value="Send!" />
    </form>

  </div>


  <!-- send to List -->
  <div class="col-md-4" ng-show="selected">
    <h2>Send to {{selected.listName}}</h2>
    <form ng-Submit="prepareMultiMessage(selected._id)">
      <label>What is this broadcast called?</label>
      <input required type="text" class="form-control" placeholder="Name your broadcast" ng-model="broadcast_multi.title" />
      <br/>
      <label>What's the time frame?</label>
      <input required type="text" class="form-control" placeholder="i.e. 9am - 5pm" ng-model="broadcast_multi.time" />
      <br/>
      <label>When?</label>
      <input required type="text" class="form-control" placeholder="i.e. 11/15/2015" ng-model="broadcast_multi.date" />
      <br/>
      <label>Where?</label>
      <input required type="text" class="form-control" placeholder="i.e. Grace Cathedral, San Francisco" ng-model="broadcast_multi.location" />
      <br/>
      <label>What does it pay?</label>
      <input required type="text" class="form-control" placeholder="i.e. $120" ng-model="broadcast_multi.pay" />
      <br/>
      <label>How many positions need to be filled?</label>
      <input required type="text" class="form-control" placeholder="i.e. 25" ng-model="broadcast_multi.numPositions" />
      <br/>
      <input class="btn submit-btn pull-right" type="submit" value="Send!" />
    </form>

  </div> 


</div>