<div class="clearfix container-fluid body">

  	<toaster-container></toaster-container>
    <h2>Broadcasts</h2>
    <!-- Open Broadcasts -->
    <div class="row">
	    <div class="col-md-2">
	    	<p>Open Broadcasts</p>
		    <ul ng-show="openBroadcasts" class="nav nav-pills nav-stacked">
		    	<li ng-repeat="oB in openBroadcasts | orderBy:'created_at':true" ng-class="{active: oB._id == selected.broadcast._id}">
		    		<a href="" ng-click="select(oB)">{{oB.title}}</a>
		    	</li>
		    </ul>
		    <br/>
		    <p>Filled Broadcasts</p>
		    <ul ng-show="filledBroadcasts" class="nav nav-pills nav-stacked">
		    <li ng-repeat="fB in filledBroadcasts | orderBy:'created_at':true" ng-class="{active: fB._id == selected.broadcast._id}">
		    		<a href="" ng-click="select(fB)">{{fB.title}}</a>
		    	</li>
		    </ul>

		    <br/>
		    <p>Archived Broadcasts</p>
	    </div>

	    <div class="col-md-8 col-md-offset-1" ng-show="selected">
        
	        <h2>{{selected.broadcast.title}}</h2>
	        <p>Message: {{selected.broadcast.body}}</p>
	        <p>Remaining Open Positions:  {{selected.broadcast.openPositions}}</p>
	        <br/>
	        <!-- sorting into different statuses
	        	<table class="table table-striped table-bordered">
		        	<thead>
		        		
		        		<tr>
				            <th>Name</th>
				            <th>Status</th>
				            <th>Accept</th>
				            <th>Decline</th>
				            <th>Date</th>
				        </tr>
		        	</thead>
		        	<tbody>
		        		<table ng-repeat="status in statuses" ng-hide="statusEmpty(status)" class="table table-striped table-bordered">
		        			<thead>
			        			<tr>
				        			<th ng-click="showStatusItems(status)">{{status}}</th>
				        		</tr>
				        	</thead> 				        	<tbody>
					            <tr ng-repeat="t in selected.threads | filterStatuses:status">
						            <td>{{t.firstName}}</td>
						            <td>{{t.status}}</td>
						            <td>
						            	<button class="btn btn-primary" ng-disabled="t.status == 'Pending' || t.status == 'Confirmed' || t.status == 'Accepted' || t.status == 'Reopened' || t.status == 'Recipient Cancelled' || t.status == 'Recipient Declined'" ng-click="ownerResponse(1, t)"><span class="glyphicon glyphicon-ok"></span></button>
						            </td>
						            <td>
						            	<button class="btn btn-danger" ng-disabled="t.status == 'Owner Declined' || t.status == 'Recipient Cancelled' || t.status == 'Recipient Declined' || t.status == 'Owner Cancelled'" ng-click="ownerResponse(0, t)"><span class="glyphicon glyphicon-remove"></span></button>
						            </td>
						            <td>{{t.created_at}}</td>
					            </tr>		
				        	</tbody>
				        </table> 
				    </tbody>
		        </table>
		 		-->

		    <table class="table table-striped table-bordered">
	        	<thead>
			        <tr>
			            <th>Name</th>
			            <th>Status</th>
			            <th>Accept</th>
			            <th>Decline</th>
			            <th>Date</th>
			        </tr>
		        </thead>
		        <tbody>
		            <tr ng-repeat="t in selected.threads">
			            <td>{{t.firstName}}</td>
			            <td>{{t.status}}</td>
			            <td>
			            	<button class="btn btn-primary" ng-disabled="t.status == 'Pending' || t.status == 'Confirmed' || t.status == 'Accepted' || t.status == 'Reopened' || t.status == 'Recipient Cancelled' || t.status == 'Recipient Declined'" ng-click="ownerResponse(1, t)"><span class="glyphicon glyphicon-ok"></span></button>
			            </td>
			            <td>
			            	<button class="btn btn-danger" ng-disabled="t.status == 'Owner Declined' || t.status == 'Recipient Cancelled' || t.status == 'Recipient Declined' || t.status == 'Owner Cancelled'" ng-click="ownerResponse(0, t)"><span class="glyphicon glyphicon-remove"></button>
			            </td>
			            <td>{{t.created_at}}</td>
		            </tr>
		        </tbody>
	        </table>
	    	
	    </div>
    
    </div> <!-- End Row -->

</div>